SW/node-red_flows/node-red_flowsSTABLEENOUGHv1.txt
[{"id":"44f6af9.c40585","type":"tab","label":"MainFlow","disabled":false,"info":""},{"id":"18e0610a.cdba87","type":"tab","label":"SetThresholds","disabled":false,"info":""},{"id":"87a18509.040e28","type":"tab","label":"RGBControlling","disabled":false,"info":""},{"id":"265550ce.df33c","type":"tab","label":"Pimoroni Blinkt Dashboard","disabled":true,"info":""},{"id":"f8782806.3fcd98","type":"tab","label":"Manual","disabled":true,"info":""},{"id":"dbe1b551.16e928","type":"tab","label":"Management","disabled":true,"info":""},{"id":"a2d3f481.0e6f48","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"111b1dc7.586c4a","type":"ui_tab","name":"Room","icon":"dashboard","disabled":false,"hidden":false},{"id":"64445825.3a7de","type":"ui_group","name":"ESP2","tab":"111b1dc7.586c4a","order":2,"disp":true,"width":"5","collapse":false},{"id":"52a29d3e.77bd24","type":"mqtt-broker","name":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3269a742.0659f","type":"mqtt-broker","name":"","broker":"192.168.43.150","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6e93b9b9.e3699","type":"mqtt-broker","name":"","broker":"lokaler_Host","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"89f11beb.8ef3e","type":"mqtt-broker","name":"LocalRaspZero","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d355dc98.e499e8","type":"ui_group","name":"Status","tab":"fd7f8c58.5af4a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d2338218.759b5","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"PiRat","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fd7f8c58.5af4a8","type":"ui_tab","name":"History","icon":"History","disabled":false,"hidden":false},{"id":"16d31805.0d8e48","type":"ui_group","name":"Sensorvalues","tab":"5e1526f4.99b1d8","order":1,"disp":true,"width":"6","collapse":true},{"id":"3f2e0d7e.6d3052","type":"ui_group","name":"","tab":"1e54123.b2889ee","order":1,"disp":false,"width":5,"collapse":false},{"id":"c1d276e9.84db88","type":"ui_group","name":"ThresholdSet","tab":"2e78776e.776038","order":1,"disp":true,"width":"6","collapse":true},{"id":"888ddd95.25598","type":"ui_group","name":"IndividualLEDs","tab":"","disp":false,"width":"6"},{"id":"bd82b622.117ec8","type":"ui_group","name":"Home","tab":"1e54123.b2889ee","order":2,"disp":true,"width":"6","collapse":true},{"id":"26d9337a.f6576c","type":"ui_group","name":"IndividualLEDs","tab":"","disp":false,"width":"6"},{"id":"1e54123.b2889ee","type":"ui_tab","name":"Manual","icon":"dashboard","disabled":false,"hidden":false},{"id":"5e1526f4.99b1d8","type":"ui_tab","name":"Sensorvalues","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"2450904f.95199","type":"ui_group","name":"ESP1","tab":"111b1dc7.586c4a","order":1,"disp":true,"width":"5","collapse":false},{"id":"2e78776e.776038","type":"ui_tab","name":"Thresholds","icon":"dashboard","disabled":false,"hidden":false},{"id":"243b3eb8.e067c2","type":"ui_group","name":"ThresholdShow","tab":"2e78776e.776038","order":2,"disp":true,"width":"6","collapse":false},{"id":"5740155f.b33a2c","type":"ui_group","name":"ErrorMessages","tab":"2e78776e.776038","order":3,"disp":true,"width":"6","collapse":false},{"id":"a8c184f8.7843b8","type":"ui_spacer","name":"spacer","group":"5740155f.b33a2c","order":5,"width":1,"height":1},{"id":"768d74d1.dc61ec","type":"ui_group","name":"ESP3","tab":"111b1dc7.586c4a","order":3,"disp":true,"width":"5","collapse":false},{"id":"e616a9fb.72f4f8","type":"ui_group","name":"ESP4","tab":"111b1dc7.586c4a","order":4,"disp":true,"width":"5","collapse":false},{"id":"13434a5.234adb6","type":"ui_group","name":"ESP5","tab":"111b1dc7.586c4a","order":5,"disp":true,"width":"5","collapse":false},{"id":"2e712193.792d8e","type":"ui_group","name":"ESP6","tab":"111b1dc7.586c4a","order":6,"disp":true,"width":"5","collapse":false},{"id":"16184945.454e57","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"46378432.820bec","type":"ui_group","name":"Default","tab":"16184945.454e57","order":1,"disp":true,"width":"6","collapse":false},{"id":"fa2f50ae.8b98e","type":"ui_tab","name":"RGBController","icon":"dashboard","disabled":false,"hidden":false},{"id":"aa2ccd90.f75e8","type":"ui_group","name":"RGB","tab":"fa2f50ae.8b98e","order":1,"disp":true,"width":"6","collapse":false},{"id":"1997b629.028cda","type":"mqtt in","z":"44f6af9.c40585","name":"HoleInTheWall","topic":"room/HoleInTheWall","qos":"2","datatype":"auto","broker":"a2d3f481.0e6f48","x":480,"y":1000,"wires":[["e91169d5.70f5a8"]]},{"id":"a90bcff.c2688b","type":"ui_chart","z":"44f6af9.c40585","d":true,"name":"","group":"64445825.3a7de","order":0,"width":0,"height":0,"label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"What??","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":370,"y":660,"wires":[[]]},{"id":"c86b23d.d8ccee","type":"mqtt in","z":"f8782806.3fcd98","name":"","topic":"pixel.1","qos":"2","datatype":"auto","broker":"89f11beb.8ef3e","x":90,"y":440,"wires":[["896b866c.5c4d38"]]},{"id":"1810759c.ca39ca","type":"mqtt in","z":"f8782806.3fcd98","name":"","topic":"pixel.2","qos":"2","datatype":"auto","broker":"89f11beb.8ef3e","x":90,"y":500,"wires":[["3f0988e7.f74c68"]]},{"id":"8d66f534.530ab8","type":"mqtt in","z":"f8782806.3fcd98","name":"","topic":"pixel.3","qos":"2","datatype":"auto","broker":"89f11beb.8ef3e","x":90,"y":560,"wires":[["cde2303.30926d"]]},{"id":"24240563.817a9a","type":"mqtt in","z":"f8782806.3fcd98","name":"","topic":"pixel.4","qos":"2","datatype":"auto","broker":"89f11beb.8ef3e","x":90,"y":620,"wires":[["e2f1e7a2.69b968"]]},{"id":"65baad9a.8a5814","type":"mqtt in","z":"f8782806.3fcd98","name":"","topic":"pixel.5","qos":"2","datatype":"auto","broker":"89f11beb.8ef3e","x":90,"y":680,"wires":[["4010415d.3fd56"]]},{"id":"3862d0f4.c04ee","type":"mqtt in","z":"f8782806.3fcd98","name":"","topic":"pixel.6","qos":"2","datatype":"auto","broker":"89f11beb.8ef3e","x":90,"y":740,"wires":[["1fb33f7b.85de81"]]},{"id":"4ef5fa27.0c5d54","type":"mqtt in","z":"f8782806.3fcd98","name":"","topic":"pixel.7","qos":"2","datatype":"auto","broker":"89f11beb.8ef3e","x":90,"y":800,"wires":[["580f3010.00b4c"]]},{"id":"b2c95547.641728","type":"function","z":"f8782806.3fcd98","name":"Process colour value","func":"var colour = msg.payload;\ncolour = colour.replace('rgb(', '');\ncolour = colour.replace(')', '');\nmsg.payload =  colour;\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"x":500,"y":440,"wires":[["83369de5.13fc6"]]},{"id":"3f0988e7.f74c68","type":"ui_colour_picker","z":"f8782806.3fcd98","name":"","label":"LED1","group":"3f2e0d7e.6d3052","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":false,"square":"false","dynOutput":"false","order":3,"width":0,"height":0,"passthru":true,"topic":"pixel.1","x":270,"y":500,"wires":[["b2c95547.641728"]]},{"id":"cde2303.30926d","type":"ui_colour_picker","z":"f8782806.3fcd98","name":"","label":"LED2","group":"3f2e0d7e.6d3052","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":false,"square":"false","dynOutput":"false","order":4,"width":0,"height":0,"passthru":true,"topic":"pixel.2","x":270,"y":560,"wires":[["b2c95547.641728"]]},{"id":"e2f1e7a2.69b968","type":"ui_colour_picker","z":"f8782806.3fcd98","name":"","label":"LED3","group":"3f2e0d7e.6d3052","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":false,"square":"false","dynOutput":"false","order":5,"width":0,"height":0,"passthru":true,"topic":"pixel.3","x":270,"y":620,"wires":[["b2c95547.641728"]]},{"id":"4010415d.3fd56","type":"ui_colour_picker","z":"f8782806.3fcd98","name":"","label":"LED4","group":"3f2e0d7e.6d3052","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":false,"square":"false","dynOutput":"false","order":6,"width":0,"height":0,"passthru":true,"topic":"pixel.4","x":270,"y":680,"wires":[["b2c95547.641728"]]},{"id":"1fb33f7b.85de81","type":"ui_colour_picker","z":"f8782806.3fcd98","name":"","label":"LED5","group":"3f2e0d7e.6d3052","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":false,"square":"false","dynOutput":"false","order":7,"width":0,"height":0,"passthru":true,"topic":"pixel.5","x":270,"y":740,"wires":[["b2c95547.641728","de700700.ccd988"]]},{"id":"580f3010.00b4c","type":"ui_colour_picker","z":"f8782806.3fcd98","name":"","label":"LED6","group":"3f2e0d7e.6d3052","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":false,"square":"false","order":8,"width":0,"height":0,"passthru":true,"topic":"pixel.6","x":270,"y":800,"wires":[["b2c95547.641728"]]},{"id":"29720cde.72ceb4","type":"ui_colour_picker","z":"f8782806.3fcd98","name":"","label":"LED7","group":"3f2e0d7e.6d3052","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":false,"square":"false","dynOutput":"false","order":9,"width":0,"height":0,"passthru":true,"topic":"pixel.7","x":270,"y":860,"wires":[["b2c95547.641728"]]},{"id":"83369de5.13fc6","type":"rpi-blinkt out","z":"f8782806.3fcd98","name":"","x":750,"y":400,"wires":[]},{"id":"ec61c83a.113288","type":"ui_button","z":"f8782806.3fcd98","name":"","group":"3f2e0d7e.6d3052","order":1,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":270,"y":380,"wires":[["12d64068.6473a"]]},{"id":"12d64068.6473a","type":"function","z":"f8782806.3fcd98","name":"set all to 0","func":"//set all LEDs to off\nfor(var i = 0; i < 8; i++) {\n    msg.topic = \"pixel.\" + i;\n    msg.payload = \"0,0,0\";\n    node.send(msg);\n}\n","outputs":1,"noerr":0,"x":470,"y":380,"wires":[["83369de5.13fc6"]]},{"id":"a88f24b2.4cce98","type":"status","z":"dbe1b551.16e928","name":"","scope":null,"x":120,"y":40,"wires":[["89a0be2a.383f"]]},{"id":"b4ca499a.9c1278","type":"debug","z":"dbe1b551.16e928","name":"Log","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":40,"wires":[]},{"id":"ae457536.ad9128","type":"catch","z":"dbe1b551.16e928","name":"","scope":null,"uncaught":false,"x":120,"y":80,"wires":[["89a0be2a.383f"]]},{"id":"33056a53.e1b1b6","type":"mqtt out","z":"dbe1b551.16e928","name":"pi/status","topic":"pi/status","qos":"0","retain":"","broker":"89f11beb.8ef3e","x":460,"y":80,"wires":[]},{"id":"89a0be2a.383f","type":"switch","z":"dbe1b551.16e928","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":60,"wires":[["b4ca499a.9c1278","33056a53.e1b1b6","b41ec812.477ef8"]]},{"id":"79f04dde.9ff244","type":"debug","z":"f8782806.3fcd98","d":true,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":460,"wires":[]},{"id":"896b866c.5c4d38","type":"ui_colour_picker","z":"f8782806.3fcd98","name":"","label":"LED0","group":"3f2e0d7e.6d3052","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":2,"width":0,"height":0,"passthru":true,"topic":"pixel.0","x":270,"y":440,"wires":[["b2c95547.641728"]]},{"id":"3a77770b.a82c68","type":"mqtt in","z":"f8782806.3fcd98","name":"","topic":"pixel.8","qos":"2","datatype":"auto","broker":"89f11beb.8ef3e","x":90,"y":860,"wires":[["29720cde.72ceb4"]]},{"id":"e3c37fdd.3a5b4","type":"comment","z":"f8782806.3fcd98","name":"pixel.0 error","info":"if mqqt called \"pixel.0\" something crashes...\nneed to delete colorpick node and get a new one","x":110,"y":380,"wires":[]},{"id":"ab660f14.98fa8","type":"ui_colour_picker","z":"265550ce.df33c","name":"","label":"Colour","group":"bd82b622.117ec8","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"colour","x":267.5,"y":346,"wires":[["7ae80737.b75fa8"]]},{"id":"4a175b51.316f84","type":"ui_slider","z":"265550ce.df33c","name":"","label":"Number of LEDs","group":"bd82b622.117ec8","order":0,"width":0,"height":0,"passthru":true,"topic":"numberOfLEDs","min":0,"max":"8","step":1,"x":237.5,"y":400,"wires":[["7ae80737.b75fa8"]]},{"id":"7ae80737.b75fa8","type":"function","z":"265550ce.df33c","name":"Process dashboard input","func":"//set the flow variables if colour or numberOfLEDs change\nif (msg.topic == \"numberOfLEDs\"){\n    flow.set(\"numberOfLEDs\", msg.payload);\n}\n\nif (msg.topic == \"colour\"){\n    var colour = msg.payload;\n    colour = colour.replace('rgb(', '');\n    colour = colour.replace(')', '');\n    flow.set(\"colour\", colour);\n}\n\n//set all LEDs to off just before we set them to what we have specified\nfor(var i = 0; i < 8; i++) {\n    msg.topic = \"pixel.\" + i;\n    msg.payload = \"0,0,0\";\n    node.send(msg);\n}\n    \n//set the LED colours \nfor(var i = 0; i < flow.get(\"numberOfLEDs\"); i++) {\n    msg.topic = \"pixel.\" + i;\n    msg.payload = flow.get(\"colour\");\n    node.send(msg);\n}\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":509.5,"y":369,"wires":[["ec96f51.e2f4308"]]},{"id":"dc59e5d9.70e9c8","type":"debug","z":"265550ce.df33c","name":"Debug","active":true,"console":"false","complete":"true","x":970,"y":420,"wires":[]},{"id":"ec96f51.e2f4308","type":"rpi-blinkt out","z":"265550ce.df33c","name":"","x":797.5,"y":369,"wires":[]},{"id":"e6681ba.de5e6e8","type":"function","z":"265550ce.df33c","name":"initiate flow variables","func":"flow.set(\"numberOfLEDs\", \"0\");\nflow.set(\"colour\", \"255,255,255\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":407.5,"y":215,"wires":[[]]},{"id":"be91ed7c.bd759","type":"inject","z":"265550ce.df33c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"start","payloadType":"str","x":194.5,"y":215,"wires":[["e6681ba.de5e6e8"]]},{"id":"c7778cef.39f96","type":"ui_colour_picker","z":"265550ce.df33c","name":"","label":"LED0","group":"bd82b622.117ec8","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","order":1,"width":0,"height":0,"passthru":true,"topic":"pixel.0","x":268,"y":516,"wires":[["f1c6c310.4f75c"]]},{"id":"f1c6c310.4f75c","type":"function","z":"265550ce.df33c","name":"Process colour value","func":"var colour = msg.payload;\ncolour = colour.replace('rgb(', '');\ncolour = colour.replace(')', '');\nmsg.payload =  colour;\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":504,"y":517,"wires":[["ec96f51.e2f4308","dc59e5d9.70e9c8"]]},{"id":"26becc20.f872a4","type":"ui_colour_picker","z":"265550ce.df33c","name":"","label":"LED1","group":"bd82b622.117ec8","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","order":2,"width":0,"height":0,"passthru":true,"topic":"pixel.1","x":267,"y":560,"wires":[["f1c6c310.4f75c"]]},{"id":"92c21a8b.e239f8","type":"ui_colour_picker","z":"265550ce.df33c","name":"","label":"LED2","group":"bd82b622.117ec8","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","order":3,"width":0,"height":0,"passthru":true,"topic":"pixel.2","x":266,"y":605,"wires":[["f1c6c310.4f75c"]]},{"id":"2d3ec533.57543a","type":"ui_colour_picker","z":"265550ce.df33c","name":"","label":"LED3","group":"bd82b622.117ec8","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","order":4,"width":0,"height":0,"passthru":true,"topic":"pixel.3","x":268,"y":651,"wires":[["f1c6c310.4f75c"]]},{"id":"93837c59.6c74a","type":"ui_colour_picker","z":"265550ce.df33c","name":"","label":"LED4","group":"bd82b622.117ec8","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","order":5,"width":0,"height":0,"passthru":true,"topic":"pixel.4","x":267,"y":695,"wires":[["f1c6c310.4f75c"]]},{"id":"b59d3816.8c1ec8","type":"ui_colour_picker","z":"265550ce.df33c","name":"","label":"LED5","group":"bd82b622.117ec8","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","order":6,"width":0,"height":0,"passthru":true,"topic":"pixel.5","x":266,"y":740,"wires":[["f1c6c310.4f75c"]]},{"id":"86400941.367c48","type":"ui_colour_picker","z":"265550ce.df33c","name":"","label":"LED6","group":"bd82b622.117ec8","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","order":7,"width":0,"height":0,"passthru":true,"topic":"pixel.6","x":268,"y":784,"wires":[["f1c6c310.4f75c"]]},{"id":"c1300fe6.191ee","type":"ui_colour_picker","z":"265550ce.df33c","name":"","label":"LED7","group":"bd82b622.117ec8","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","order":8,"width":0,"height":0,"passthru":true,"topic":"pixel.7","x":267,"y":829,"wires":[["f1c6c310.4f75c"]]},{"id":"208bd6d0.d75bea","type":"comment","z":"265550ce.df33c","name":"Individual LED Dashboard Page","info":"","x":189.5,"y":475,"wires":[]},{"id":"c6ab384e.5a7828","type":"comment","z":"265550ce.df33c","name":"Group LED Dashboard Page","info":"","x":197,"y":303,"wires":[]},{"id":"9d1a30f6.d8407","type":"random","z":"265550ce.df33c","name":"Random LED","low":"0","high":"7","inte":"true","x":357.2142868041992,"y":1088.4286050796509,"wires":[["90c22355.8e7e8"]]},{"id":"74c20e5f.71942","type":"random","z":"265550ce.df33c","name":"Random Red value","low":"1","high":"255","inte":"true","x":568.9285125732422,"y":1157.4286088943481,"wires":[["b17f891d.0c5178"]]},{"id":"87183d06.8108a","type":"random","z":"265550ce.df33c","name":"Random Green value","low":"1","high":"255","inte":"true","x":579.8571014404297,"y":1211.4285888671875,"wires":[["e027ed83.54868"]]},{"id":"95aec376.f694d","type":"random","z":"265550ce.df33c","name":"Random Blue value","low":"1","high":"255","inte":"true","x":572.8571014404297,"y":1255.4285888671875,"wires":[["27a6ccee.d55af4"]]},{"id":"afe35d7a.fb718","type":"debug","z":"265550ce.df33c","name":"","active":true,"console":"false","complete":"true","x":922.2142524719238,"y":1301.0000476837158,"wires":[]},{"id":"90c22355.8e7e8","type":"function","z":"265550ce.df33c","name":"set topic","func":"msg.topic = \"pixel.\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":351.3571014404297,"y":1158.4285888671875,"wires":[["74c20e5f.71942"]]},{"id":"b17f891d.0c5178","type":"function","z":"265550ce.df33c","name":"set Red value","func":"msg.red = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":375.8571014404297,"y":1211.4285888671875,"wires":[["87183d06.8108a"]]},{"id":"e027ed83.54868","type":"function","z":"265550ce.df33c","name":"set Green value","func":"msg.green = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":377.8571014404297,"y":1257.4285888671875,"wires":[["95aec376.f694d"]]},{"id":"27a6ccee.d55af4","type":"function","z":"265550ce.df33c","name":"set Blue value","func":"msg.blue = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":378.8571014404297,"y":1302.4285888671875,"wires":[["45906504.dcbedc"]]},{"id":"45906504.dcbedc","type":"function","z":"265550ce.df33c","name":"Assemble Blink input","func":"msg.payload = msg.red + \",\" + msg.green + \",\" + msg.blue;\nreturn msg;","outputs":1,"noerr":0,"x":651.4999542236328,"y":1302.0001392364502,"wires":[["afe35d7a.fb718","ec96f51.e2f4308"]]},{"id":"9f978bfb.a28ea8","type":"ui_button","z":"265550ce.df33c","name":"","group":"bd82b622.117ec8","order":0,"width":0,"height":0,"passthru":false,"label":"Random Colours","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":305.00000762939453,"y":964.2857546806335,"wires":[["ec96f51.e2f4308"]]},{"id":"5fcc12fb.3c252c","type":"ui_button","z":"265550ce.df33c","name":"","group":"bd82b622.117ec8","order":0,"width":0,"height":0,"passthru":false,"label":"Stop Random Colours","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":314.2857131958008,"y":1005.7143340110779,"wires":[["ec96f51.e2f4308"]]},{"id":"7892c935.192228","type":"ui_button","z":"265550ce.df33c","name":"","group":"bd82b622.117ec8","order":0,"width":0,"height":0,"passthru":false,"label":"Clear","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":264.28570556640625,"y":911.4285888671875,"wires":[["fa76c52.e3a0e38"]]},{"id":"fa76c52.e3a0e38","type":"function","z":"265550ce.df33c","name":"set all to 0","func":"//set all LEDs to off\nfor(var i = 0; i < 8; i++) {\n    msg.topic = \"pixel.\" + i;\n    msg.payload = \"0,0,0\";\n    node.send(msg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":494.99999999999994,"y":912.8571428571428,"wires":[["ec96f51.e2f4308"]]},{"id":"b41ec812.477ef8","type":"ui_text","z":"dbe1b551.16e928","group":"d355dc98.e499e8","order":9,"width":0,"height":0,"name":"Error Log","label":"Error Log","format":"{{msg.payload}}","layout":"col-center","x":460,"y":140,"wires":[]},{"id":"15b94f86.89474","type":"ui_dropdown","z":"dbe1b551.16e928","name":"","label":"Sensorvalues","tooltip":"","place":"Select option","group":"16d31805.0d8e48","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"\"sensor\"","value":0,"type":"num"},{"label":"\"sensor\"","value":"1","type":"str"}],"payload":"","topic":"msg.SensorNumber","x":320,"y":340,"wires":[[]]},{"id":"da61778f.e531f8","type":"ui_button","z":"f8782806.3fcd98","name":"","group":"3f2e0d7e.6d3052","order":1,"width":0,"height":0,"passthru":false,"label":"K.I.T.T.","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":270,"y":320,"wires":[["71fcb4eb.a92f2c"]]},{"id":"71fcb4eb.a92f2c","type":"function","z":"f8782806.3fcd98","name":"K.I.T.T.","func":"\n//set all LEDs to off\nfor(var n = 0; n < 80; n++) {\n\n    // forward\n    for(var u = 0; u < 8; u++) {\n        \n        msg.topic = \"pixel.\" + (u);\n        msg.payload = \"255,0,0\";\n        node.send(msg);\n        if(u > 0){\n            msg.topic = \"pixel.\" + (u-1);\n            msg.payload = \"0,0,0\";\n            node.send(msg);\n        }\n    }\n    // backward\n    for(var d = 7; d >= 0; d--) {\n        msg.topic = \"pixel.\" + d;\n        msg.payload = \"255,0,0\";\n        node.send(msg);\n   \n        if(d < 7){\n            msg.topic = \"pixel.\" + (d+1);\n            msg.payload = \"0,0,0\";\n            node.send(msg);\n        }\n    }\n}\n\nmsg.topic = \"pixel.0\";\nmsg.payload = \"0,0,0\";\nnode.send(msg);\n\n","outputs":1,"noerr":0,"x":450,"y":320,"wires":[["cb139da5.6005e"]]},{"id":"c81debf.ae4b518","type":"function","z":"f8782806.3fcd98","name":"down KITT","func":"\nvar color = msg.payload;\n// backward\nfor(var d = 7; d > 0; d--) {\n    msg.topic = \"pixel.\" + d;\n    msg.payload = color;\n    node.send(msg);\n\n    if(d < 7){\n        msg.topic = \"pixel.\" + (d+1);\n        msg.payload = \"0,0,0\";\n        node.send(msg);\n    }\n}\nreturn msg.payload = color;","outputs":1,"noerr":0,"x":970,"y":200,"wires":[["8ea128af.c7abf8"]]},{"id":"cb139da5.6005e","type":"delay","z":"f8782806.3fcd98","name":"Begrenzung 100ms","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":320,"wires":[["83369de5.13fc6"]]},{"id":"5eea1116.310d2","type":"random","z":"f8782806.3fcd98","name":"Random Red value","low":"1","high":"255","inte":"true","x":670,"y":60,"wires":[["57358600.79fcec"]]},{"id":"d31f65e8.ce5bb8","type":"random","z":"f8782806.3fcd98","name":"Random Green value","low":"1","high":"255","inte":"true","x":680.9285888671875,"y":113.99997997283936,"wires":[["ff788942.ac8608"]]},{"id":"a1c59458.bf8738","type":"random","z":"f8782806.3fcd98","name":"Random Blue value","low":"1","high":"255","inte":"true","x":673.9285888671875,"y":157.99997997283936,"wires":[["d5ce46fb.306e68"]]},{"id":"918dcf8.7b0f23","type":"function","z":"f8782806.3fcd98","name":"set topic","func":"msg.topic = \"pixel.\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":452.4285888671875,"y":60.999979972839355,"wires":[["5eea1116.310d2"]]},{"id":"57358600.79fcec","type":"function","z":"f8782806.3fcd98","name":"set Red value","func":"msg.red = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":476.9285888671875,"y":113.99997997283936,"wires":[["d31f65e8.ce5bb8"]]},{"id":"ff788942.ac8608","type":"function","z":"f8782806.3fcd98","name":"set Green value","func":"msg.green = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":478.9285888671875,"y":159.99997997283936,"wires":[["a1c59458.bf8738"]]},{"id":"d5ce46fb.306e68","type":"function","z":"f8782806.3fcd98","name":"set Blue value","func":"msg.blue = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":479.9285888671875,"y":204.99997997283936,"wires":[["53fb06f3.47bd38"]]},{"id":"53fb06f3.47bd38","type":"function","z":"f8782806.3fcd98","name":"Assemble Blink input","func":"msg.payload = msg.red + \",\" + msg.green + \",\" + msg.blue;\nreturn msg;","outputs":1,"noerr":0,"x":752.5714416503906,"y":204.57153034210205,"wires":[["c81debf.ae4b518"]]},{"id":"8ea128af.c7abf8","type":"function","z":"f8782806.3fcd98","name":"up KITT","func":"    // forward\n    \nvar color = msg.payload;\nfor(var u = 0; u < 8; u++) {\n    msg.topic = \"pixel.\" + (u);\n    msg.payload = color;\n    node.send(msg);\n    if(u > 0){\n        msg.topic = \"pixel.\" + (u-1);\n        msg.payload = \"0,0,0\";\n        node.send(msg);\n    }\n}\nreturn msg.payload = color;","outputs":1,"noerr":0,"x":1120,"y":200,"wires":[["ba549d8b.0cd69"]]},{"id":"87d49f5b.e84cd","type":"ui_button","z":"f8782806.3fcd98","name":"","group":"3f2e0d7e.6d3052","order":1,"width":0,"height":0,"passthru":false,"label":"K.I.T.T. COLOR","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":200,"y":60,"wires":[["918dcf8.7b0f23"]]},{"id":"24d642c4.87e3be","type":"rpi-blinkt out","z":"f8782806.3fcd98","name":"","x":1450,"y":200,"wires":[]},{"id":"ba549d8b.0cd69","type":"delay","z":"f8782806.3fcd98","name":"Begrenzung 100ms","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1290,"y":200,"wires":[["24d642c4.87e3be"]]},{"id":"ce5fe303.36ac1","type":"ui_chart","z":"44f6af9.c40585","d":true,"name":"","group":"64445825.3a7de","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"What??","dot":false,"ymin":"0","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":380,"y":600,"wires":[[]]},{"id":"342a35ae.1edb0a","type":"ui_chart","z":"44f6af9.c40585","d":true,"name":"","group":"64445825.3a7de","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"What??","dot":false,"ymin":"0","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":380,"y":560,"wires":[[]]},{"id":"96a7e731.2d99d8","type":"ui_chart","z":"44f6af9.c40585","d":true,"name":"","group":"64445825.3a7de","order":0,"width":0,"height":0,"label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"What??","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":190,"y":540,"wires":[[]]},{"id":"7a6f822.7286d7c","type":"ui_chart","z":"44f6af9.c40585","d":true,"name":"","group":"64445825.3a7de","order":0,"width":0,"height":0,"label":"co2 ppm","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"What??","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":200,"y":580,"wires":[[]]},{"id":"1f78ad10.220453","type":"ui_chart","z":"44f6af9.c40585","d":true,"name":"","group":"64445825.3a7de","order":0,"width":0,"height":0,"label":"co2 ppm","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"What??","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":200,"y":620,"wires":[[]]},{"id":"25f2cfd3.5f218","type":"ui_chart","z":"44f6af9.c40585","d":true,"name":"","group":"64445825.3a7de","order":0,"width":0,"height":0,"label":"voc ppb","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"What??","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":200,"y":660,"wires":[[]]},{"id":"3c8b3ad3.7067a6","type":"ui_chart","z":"44f6af9.c40585","d":true,"name":"","group":"64445825.3a7de","order":0,"width":0,"height":0,"label":"voc ppb","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"What??","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":200,"y":700,"wires":[[]]},{"id":"1ffa268.ca5b9da","type":"ui_chart","z":"44f6af9.c40585","d":true,"name":"Temp Chart","group":"16d31805.0d8e48","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No temperature data available","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":510,"y":440,"wires":[[]]},{"id":"b9a53279.c03a3","type":"ui_gauge","z":"44f6af9.c40585","d":true,"name":"Temp Gauge","group":"16d31805.0d8e48","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"38","colors":["#00b500","#e6e600","#ca3838"],"seg1":"26","seg2":"28","x":510,"y":480,"wires":[]},{"id":"2ca50f71.0d0bd","type":"ui_button","z":"44f6af9.c40585","d":true,"name":"","group":"16d31805.0d8e48","order":4,"width":0,"height":0,"passthru":false,"label":"Chart Cleaner","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":220,"y":440,"wires":[["1ffa268.ca5b9da","b9a53279.c03a3"]]},{"id":"ce711e83.d3251","type":"ui_slider","z":"18e0610a.cdba87","name":"TempMin","label":"TempMin","tooltip":"","group":"c1d276e9.84db88","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"TempMin","min":0,"max":"40","step":"0.1","x":660,"y":60,"wires":[["cdbeef28.3d2cf","7bcac9f2.9e6a58","f21340a5.b9f098"]]},{"id":"cdbeef28.3d2cf","type":"ui_text","z":"18e0610a.cdba87","group":"243b3eb8.e067c2","order":1,"width":0,"height":0,"name":"TempMin","label":"TempMin","format":"{{msg.payload}} ℃","layout":"row-spread","x":830,"y":60,"wires":[]},{"id":"b459be98.085b3","type":"ui_slider","z":"18e0610a.cdba87","name":"TempMax","label":"TempMax","tooltip":"","group":"c1d276e9.84db88","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"TempMax","min":0,"max":"40","step":"0.1","x":660,"y":120,"wires":[["99d4114f.c9bf6","4629907b.8130b","f21340a5.b9f098"]]},{"id":"99d4114f.c9bf6","type":"ui_text","z":"18e0610a.cdba87","group":"243b3eb8.e067c2","order":2,"width":0,"height":0,"name":"TempMin","label":"TempMax","format":"{{msg.payload}}℃","layout":"row-spread","x":830,"y":120,"wires":[]},{"id":"943e1503.d55068","type":"ui_slider","z":"18e0610a.cdba87","name":"HumMin","label":"HumMin","tooltip":"","group":"c1d276e9.84db88","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"HumMin","min":0,"max":"100","step":"0.1","x":660,"y":180,"wires":[["d9b6ad1a.5f263","c0cd2eac.90b","f21340a5.b9f098"]]},{"id":"d9b6ad1a.5f263","type":"ui_text","z":"18e0610a.cdba87","group":"243b3eb8.e067c2","order":3,"width":0,"height":0,"name":"HumMin","label":"HumMin","format":"{{msg.payload}}%","layout":"row-spread","x":830,"y":180,"wires":[]},{"id":"b080f40b.96ad48","type":"ui_slider","z":"18e0610a.cdba87","name":"HumMax","label":"HumMax","tooltip":"","group":"c1d276e9.84db88","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"HumMax","min":0,"max":"100","step":"0.1","x":660,"y":240,"wires":[["e889c370.1f32b","e10caecf.ef9a","f21340a5.b9f098"]]},{"id":"e889c370.1f32b","type":"ui_text","z":"18e0610a.cdba87","group":"243b3eb8.e067c2","order":4,"width":0,"height":0,"name":"HumMax","label":"HumMax","format":"{{msg.payload}}%","layout":"row-spread","x":830,"y":240,"wires":[]},{"id":"ce8b2dd3.952fc","type":"ui_slider","z":"18e0610a.cdba87","name":"CO2Max","label":"CO2Max","tooltip":"","group":"c1d276e9.84db88","order":6,"width":0,"height":0,"passthru":true,"outs":"end","topic":"CO2Max","min":0,"max":"10000","step":"1","x":660,"y":300,"wires":[["99483e0b.13e1b","130b0666.8222aa","f21340a5.b9f098"]]},{"id":"99483e0b.13e1b","type":"ui_text","z":"18e0610a.cdba87","group":"243b3eb8.e067c2","order":6,"width":0,"height":0,"name":"CO2Max","label":"CO2Max","format":"{{msg.payload}}ppm","layout":"row-spread","x":830,"y":300,"wires":[]},{"id":"dd955e.0f379aa","type":"ui_slider","z":"18e0610a.cdba87","name":"CO2Min","label":"CO2Min","tooltip":"","group":"c1d276e9.84db88","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"CO2Min","min":0,"max":"10000","step":"1","x":660,"y":360,"wires":[["ba020b91.6ad4b8","2dd09fc0.80cb8","f21340a5.b9f098"]]},{"id":"ba020b91.6ad4b8","type":"ui_text","z":"18e0610a.cdba87","group":"243b3eb8.e067c2","order":5,"width":0,"height":0,"name":"CO2Min","label":"CO2Min","format":"{{msg.payload}}ppm","layout":"row-spread","x":830,"y":360,"wires":[]},{"id":"b1e7ff22.89b4b","type":"ui_slider","z":"18e0610a.cdba87","name":"TVOCMax","label":"TVOCMax","tooltip":"","group":"c1d276e9.84db88","order":8,"width":0,"height":0,"passthru":true,"outs":"end","topic":"TVOCMax","min":0,"max":"10000","step":"1","x":670,"y":420,"wires":[["9a743076.5685c","6cd162a4.a8f6cc","f21340a5.b9f098"]]},{"id":"9a743076.5685c","type":"ui_text","z":"18e0610a.cdba87","group":"243b3eb8.e067c2","order":8,"width":0,"height":0,"name":"TVOCMax","label":"TVOCMax","format":"{{msg.payload}}ppb","layout":"row-spread","x":840,"y":420,"wires":[]},{"id":"36e6403b.b44ec","type":"ui_slider","z":"18e0610a.cdba87","name":"TVOCMin","label":"TVOCMin","tooltip":"","group":"c1d276e9.84db88","order":7,"width":0,"height":0,"passthru":true,"outs":"end","topic":"TVOCMin","min":0,"max":"10000","step":"1","x":660,"y":480,"wires":[["e309ca9f.54cf58","a265fbc7.25e688","f21340a5.b9f098"]]},{"id":"e309ca9f.54cf58","type":"ui_text","z":"18e0610a.cdba87","group":"243b3eb8.e067c2","order":7,"width":0,"height":0,"name":"TVOCMin","label":"TVOCMin","format":"{{msg.payload}}ppb","layout":"row-spread","x":830,"y":480,"wires":[]},{"id":"7bcac9f2.9e6a58","type":"file","z":"18e0610a.cdba87","name":"/ThresholdSettings/TempMin","filename":"ThresholdSettings/TempMin","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1060,"y":60,"wires":[[]]},{"id":"4629907b.8130b","type":"file","z":"18e0610a.cdba87","name":"ThresholdSettings/TempMax","filename":"ThresholdSettings/TempMax","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1060,"y":120,"wires":[[]]},{"id":"c0cd2eac.90b","type":"file","z":"18e0610a.cdba87","name":"ThresholdSettings/HumMin","filename":"ThresholdSettings/HumMin","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1060,"y":180,"wires":[[]]},{"id":"e10caecf.ef9a","type":"file","z":"18e0610a.cdba87","name":"ThresholdSettings/HumMax","filename":"ThresholdSettings/HumMax","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1060,"y":240,"wires":[[]]},{"id":"130b0666.8222aa","type":"file","z":"18e0610a.cdba87","name":"ThresholdSettings/CO2Max","filename":"ThresholdSettings/CO2Max","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1060,"y":300,"wires":[[]]},{"id":"2dd09fc0.80cb8","type":"file","z":"18e0610a.cdba87","name":"ThresholdSettings/CO2Min","filename":"ThresholdSettings/CO2Min","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1060,"y":360,"wires":[[]]},{"id":"6cd162a4.a8f6cc","type":"file","z":"18e0610a.cdba87","name":"ThresholdSettings/TVOCMax","filename":"ThresholdSettings/TVOCMax","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1060,"y":420,"wires":[[]]},{"id":"a265fbc7.25e688","type":"file","z":"18e0610a.cdba87","name":"ThresholdSettings/TVOCMin","filename":"ThresholdSettings/TVOCMin","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1060,"y":480,"wires":[[]]},{"id":"e65499c8.7de8e8","type":"ui_text","z":"44f6af9.c40585","group":"2450904f.95199","order":0,"width":0,"height":0,"name":"macaddr","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1540,"y":780,"wires":[]},{"id":"8ed80d1f.9d4808","type":"python3-function","z":"18e0610a.cdba87","name":"readlefileTempMin","func":"f = open(\"/home/pi/ThresholdSettings/TempMin\", \"r\")\n\na = f.read()\n\nmycooldict = {'payload': a}\n\nreturn mycooldict","outputs":1,"x":490,"y":60,"wires":[["ce711e83.d3251","cdbeef28.3d2cf","7bcac9f2.9e6a58"]]},{"id":"81f3f332.13cbb","type":"python3-function","z":"18e0610a.cdba87","name":"readlefileTempMax","func":"f = open(\"/home/pi/ThresholdSettings/TempMax\", \"r\")\n\na = f.read()\n\nmycooldict = {'payload': a}\n\nreturn mycooldict","outputs":1,"x":490,"y":120,"wires":[["b459be98.085b3","99d4114f.c9bf6","4629907b.8130b"]]},{"id":"c6d77389.0054a8","type":"python3-function","z":"18e0610a.cdba87","name":"readlefileHumMin","func":"f = open(\"/home/pi/ThresholdSettings/HumMin\", \"r\")\n\na = f.read()\n\nmycooldict = {'payload': a}\n\nreturn mycooldict","outputs":1,"x":490,"y":180,"wires":[["943e1503.d55068","d9b6ad1a.5f263","c0cd2eac.90b"]]},{"id":"1e342411.a953dc","type":"python3-function","z":"18e0610a.cdba87","name":"readlefileHumMax","func":"f = open(\"/home/pi/ThresholdSettings/HumMax\", \"r\")\n\na = f.read()\n\nmycooldict = {'payload': a}\n\nreturn mycooldict","outputs":1,"x":490,"y":240,"wires":[["b080f40b.96ad48","e889c370.1f32b","e10caecf.ef9a"]]},{"id":"97f41804.9ab5d","type":"python3-function","z":"18e0610a.cdba87","name":"readlefileCO2Max","func":"f = open(\"/home/pi/ThresholdSettings/CO2Max\", \"r\")\n\na = f.read()\n\nmycooldict = {'payload': a}\n\nreturn mycooldict","outputs":1,"x":490,"y":300,"wires":[["ce8b2dd3.952fc","99483e0b.13e1b","130b0666.8222aa"]]},{"id":"80a7c26d.f57518","type":"python3-function","z":"18e0610a.cdba87","name":"readlefileCO2Min","func":"f = open(\"/home/pi/ThresholdSettings/CO2Min\", \"r\")\n\na = f.read()\n\nmycooldict = {'payload': a}\n\nreturn mycooldict","outputs":1,"x":490,"y":360,"wires":[["dd955e.0f379aa","ba020b91.6ad4b8","2dd09fc0.80cb8"]]},{"id":"e8a79139.5e4a5","type":"python3-function","z":"18e0610a.cdba87","name":"readlefileTVOCMax","func":"f = open(\"/home/pi/ThresholdSettings/TVOCMax\", \"r\")\n\na = f.read()\n\nmycooldict = {'payload': a}\n\nreturn mycooldict","outputs":1,"x":490,"y":420,"wires":[["b1e7ff22.89b4b","9a743076.5685c","6cd162a4.a8f6cc"]]},{"id":"78950a2f.21f9ac","type":"python3-function","z":"18e0610a.cdba87","name":"readlefileTVOCMin","func":"f = open(\"/home/pi/ThresholdSettings/TVOCMin\", \"r\")\n\na = f.read()\n\nmycooldict = {'payload': a}\n\nreturn mycooldict","outputs":1,"x":490,"y":480,"wires":[["36e6403b.b44ec","e309ca9f.54cf58","a265fbc7.25e688"]]},{"id":"ef8c7642.b7d038","type":"ui_button","z":"18e0610a.cdba87","name":"Show Thresholds","group":"c1d276e9.84db88","order":9,"width":0,"height":0,"passthru":false,"label":"Show Thresholds","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":260,"wires":[["8ed80d1f.9d4808","81f3f332.13cbb","c6d77389.0054a8","1e342411.a953dc","97f41804.9ab5d","80a7c26d.f57518","e8a79139.5e4a5","78950a2f.21f9ac"]]},{"id":"feaf3147.8d525","type":"ui_text","z":"44f6af9.c40585","group":"2450904f.95199","order":0,"width":0,"height":0,"name":"tempincels","label":"text","format":"{{msg.payload}}℃","layout":"row-spread","x":1550,"y":820,"wires":[]},{"id":"148ab172.b6cecf","type":"ui_text","z":"44f6af9.c40585","group":"2450904f.95199","order":0,"width":0,"height":0,"name":"huminrel","label":"text","format":"{{msg.payload}}%RH","layout":"row-spread","x":1540,"y":860,"wires":[]},{"id":"b9c385f4.09f1e8","type":"ui_text","z":"44f6af9.c40585","group":"2450904f.95199","order":0,"width":0,"height":0,"name":"Co2","label":"text","format":"{{msg.payload}}ka","layout":"row-spread","x":1530,"y":900,"wires":[]},{"id":"5c90d3fe.04a714","type":"ui_text","z":"44f6af9.c40585","group":"2450904f.95199","order":0,"width":0,"height":0,"name":"TVOC","label":"text","format":"{{msg.payload}}ka","layout":"row-spread","x":1530,"y":940,"wires":[]},{"id":"f21340a5.b9f098","type":"ui_button","z":"18e0610a.cdba87","name":"Show Thresholds","group":"243b3eb8.e067c2","order":9,"width":0,"height":0,"passthru":true,"label":"Verify Thresholds","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":530,"y":600,"wires":[["8745dc75.2d1c9"]]},{"id":"8745dc75.2d1c9","type":"python3-function","z":"18e0610a.cdba87","name":"VerifyTheThresholds","func":"import time\nTempMin = open(\"/home/pi/ThresholdSettings/TempMin\", \"r\").read()\nTempMax = open(\"/home/pi/ThresholdSettings/TempMax\", \"r\").read()\nHumMin = open(\"/home/pi/ThresholdSettings/HumMin\", \"r\").read()\nHumMax = open(\"/home/pi/ThresholdSettings/HumMax\", \"r\").read()\nCO2Min = open(\"/home/pi/ThresholdSettings/CO2Min\", \"r\").read()\nCO2Max = open(\"/home/pi/ThresholdSettings/CO2Max\", \"r\").read()\nTVOCMin = open(\"/home/pi/ThresholdSettings/TVOCMin\", \"r\").read()\nTVOCMax = open(\"/home/pi/ThresholdSettings/TVOCMax\", \"r\").read()\n\ntempgaydict = {'payload':'No Error with setting Temp'}\nhumgaydict = {'payload':'No Error with setting Humidity'}\nco2gaydict = {'payload':'No Error with setting CO2'}\ntvocgaydict = {'payload':'No Error with setting TVOC'}\ntime.sleep(0.2)\nif float(TempMin) > float(TempMax):\n    tempgaydict = {'payload':'Code might explode: TempMin > TempMax. Change now!'}\nif float(HumMin) > float(HumMax):\n    humgaydict = {'payload':'Code might explode: HumMin > HumMax. Change now!'}\nif int(CO2Min) > float(CO2Max):\n    co2gaydict = {'payload':'Code might explode: CO2Min > CO2Max. Change now!'}\nif int(TVOCMin) > float(TVOCMax):\n    tvocgaydict = {'payload':'Code might explode: TVOCMin > TVOCMax. Change now!'}\n\n\nreturn [tempgaydict, humgaydict, co2gaydict, tvocgaydict] #send dicts\n","outputs":4,"x":790,"y":600,"wires":[["d072a708.1daea8"],["95897afc.b3dde8"],["688c2fe4.cba5c"],["7f0ca504.94105c"]]},{"id":"d072a708.1daea8","type":"ui_text","z":"18e0610a.cdba87","group":"5740155f.b33a2c","order":1,"width":"6","height":"2","name":"ErrorTresholdTemp","label":"","format":"{{msg.payload}}","layout":"row-left","x":1050,"y":540,"wires":[]},{"id":"95897afc.b3dde8","type":"ui_text","z":"18e0610a.cdba87","group":"5740155f.b33a2c","order":2,"width":"6","height":"2","name":"ErrorTresholdHum","label":"","format":"{{msg.payload}}","layout":"row-left","x":1050,"y":580,"wires":[]},{"id":"688c2fe4.cba5c","type":"ui_text","z":"18e0610a.cdba87","group":"5740155f.b33a2c","order":3,"width":"6","height":"2","name":"ErrorTresholdCO2","label":"","format":"{{msg.payload}}","layout":"row-left","x":1050,"y":620,"wires":[]},{"id":"7f0ca504.94105c","type":"ui_text","z":"18e0610a.cdba87","group":"5740155f.b33a2c","order":4,"width":"6","height":"2","name":"ErrorTresholdTVOC","label":"","format":"{{msg.payload}}","layout":"row-left","x":1060,"y":660,"wires":[]},{"id":"bd6580fa.3217a","type":"ui_text","z":"44f6af9.c40585","group":"64445825.3a7de","order":0,"width":0,"height":0,"name":"macaddr","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1880,"y":780,"wires":[]},{"id":"6cc2559a.9fba4c","type":"ui_text","z":"44f6af9.c40585","group":"64445825.3a7de","order":0,"width":0,"height":0,"name":"tempincels","label":"text","format":"{{msg.payload}}℃","layout":"row-spread","x":1890,"y":820,"wires":[]},{"id":"5fa8dd1c.bf1884","type":"ui_text","z":"44f6af9.c40585","group":"64445825.3a7de","order":0,"width":0,"height":0,"name":"huminrel","label":"text","format":"{{msg.payload}}%RH","layout":"row-spread","x":1880,"y":860,"wires":[]},{"id":"95d7dd4d.e4c0f","type":"ui_text","z":"44f6af9.c40585","group":"64445825.3a7de","order":0,"width":0,"height":0,"name":"Co2","label":"text","format":"{{msg.payload}}ka","layout":"row-spread","x":1870,"y":900,"wires":[]},{"id":"a074a0d4.77169","type":"ui_text","z":"44f6af9.c40585","group":"64445825.3a7de","order":0,"width":0,"height":0,"name":"TVOC","label":"text","format":"{{msg.payload}}ka","layout":"row-spread","x":1870,"y":940,"wires":[]},{"id":"6bcda2bd.71be0c","type":"ui_text","z":"44f6af9.c40585","group":"768d74d1.dc61ec","order":0,"width":0,"height":0,"name":"macaddr","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":2200,"y":780,"wires":[]},{"id":"86dd8547.a0b7e8","type":"ui_text","z":"44f6af9.c40585","group":"768d74d1.dc61ec","order":0,"width":0,"height":0,"name":"tempincels","label":"text","format":"{{msg.payload}}℃","layout":"row-spread","x":2210,"y":820,"wires":[]},{"id":"d7ad6f8e.f0137","type":"ui_text","z":"44f6af9.c40585","group":"768d74d1.dc61ec","order":0,"width":0,"height":0,"name":"huminrel","label":"text","format":"{{msg.payload}}%RH","layout":"row-spread","x":2200,"y":860,"wires":[]},{"id":"629bd468.73906c","type":"ui_text","z":"44f6af9.c40585","group":"768d74d1.dc61ec","order":0,"width":0,"height":0,"name":"Co2","label":"text","format":"{{msg.payload}}ka","layout":"row-spread","x":2190,"y":900,"wires":[]},{"id":"34f03704.58bc98","type":"ui_text","z":"44f6af9.c40585","group":"768d74d1.dc61ec","order":0,"width":0,"height":0,"name":"TVOC","label":"text","format":"{{msg.payload}}ka","layout":"row-spread","x":2190,"y":940,"wires":[]},{"id":"bd1d99d7.2f8578","type":"ui_text","z":"44f6af9.c40585","group":"e616a9fb.72f4f8","order":0,"width":0,"height":0,"name":"macaddr","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1540,"y":1080,"wires":[]},{"id":"7915dde2.7759f4","type":"ui_text","z":"44f6af9.c40585","group":"e616a9fb.72f4f8","order":0,"width":0,"height":0,"name":"tempincels","label":"text","format":"{{msg.payload}}℃","layout":"row-spread","x":1550,"y":1120,"wires":[]},{"id":"9641f0a4.fd6b2","type":"ui_text","z":"44f6af9.c40585","group":"e616a9fb.72f4f8","order":0,"width":0,"height":0,"name":"huminrel","label":"text","format":"{{msg.payload}}%RH","layout":"row-spread","x":1540,"y":1160,"wires":[]},{"id":"69d4770d.968708","type":"ui_text","z":"44f6af9.c40585","group":"e616a9fb.72f4f8","order":0,"width":0,"height":0,"name":"Co2","label":"text","format":"{{msg.payload}}ka","layout":"row-spread","x":1530,"y":1200,"wires":[]},{"id":"37919390.d1463c","type":"ui_text","z":"44f6af9.c40585","group":"e616a9fb.72f4f8","order":0,"width":0,"height":0,"name":"TVOC","label":"text","format":"{{msg.payload}}ka","layout":"row-spread","x":1530,"y":1240,"wires":[]},{"id":"e801936c.a0b02","type":"ui_text","z":"44f6af9.c40585","group":"13434a5.234adb6","order":0,"width":0,"height":0,"name":"macaddr","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1880,"y":1080,"wires":[]},{"id":"233a6dfa.30cb72","type":"ui_text","z":"44f6af9.c40585","group":"13434a5.234adb6","order":0,"width":0,"height":0,"name":"tempincels","label":"text","format":"{{msg.payload}}℃","layout":"row-spread","x":1890,"y":1120,"wires":[]},{"id":"9b85cca1.e1297","type":"ui_text","z":"44f6af9.c40585","group":"13434a5.234adb6","order":0,"width":0,"height":0,"name":"huminrel","label":"text","format":"{{msg.payload}}%RH","layout":"row-spread","x":1880,"y":1160,"wires":[]},{"id":"6ffad9af.1a4e38","type":"ui_text","z":"44f6af9.c40585","group":"13434a5.234adb6","order":0,"width":0,"height":0,"name":"Co2","label":"text","format":"{{msg.payload}}ka","layout":"row-spread","x":1870,"y":1200,"wires":[]},{"id":"1bbf8de0.660652","type":"ui_text","z":"44f6af9.c40585","group":"13434a5.234adb6","order":0,"width":0,"height":0,"name":"TVOC","label":"text","format":"{{msg.payload}}ka","layout":"row-spread","x":1870,"y":1240,"wires":[]},{"id":"14bdccc2.dc8753","type":"ui_text","z":"44f6af9.c40585","group":"2e712193.792d8e","order":0,"width":0,"height":0,"name":"macaddr","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":2220,"y":1080,"wires":[]},{"id":"f1fad9fd.ff43e8","type":"ui_text","z":"44f6af9.c40585","group":"2e712193.792d8e","order":0,"width":0,"height":0,"name":"tempincels","label":"text","format":"{{msg.payload}}℃","layout":"row-spread","x":2230,"y":1120,"wires":[]},{"id":"2b4aa99c.f051c6","type":"ui_text","z":"44f6af9.c40585","group":"2e712193.792d8e","order":0,"width":0,"height":0,"name":"huminrel","label":"text","format":"{{msg.payload}}%RH","layout":"row-spread","x":2220,"y":1160,"wires":[]},{"id":"10155596.3a7bea","type":"ui_text","z":"44f6af9.c40585","group":"2e712193.792d8e","order":0,"width":0,"height":0,"name":"Co2","label":"text","format":"{{msg.payload}}ka","layout":"row-spread","x":2210,"y":1200,"wires":[]},{"id":"ab1d6520.d9eb98","type":"ui_text","z":"44f6af9.c40585","group":"2e712193.792d8e","order":0,"width":0,"height":0,"name":"TVOC","label":"text","format":"{{msg.payload}}ka","layout":"row-spread","x":2210,"y":1240,"wires":[]},{"id":"46667fde.3faa1","type":"python3-function","z":"44f6af9.c40585","name":"Pos1Listener","func":"content = msg['payload']\ntry:\n    print(content[5])\n    if content[5] == 1:\n        maccadrdict = {'payload':content[0]}\n        tempdict = {'payload':content[1]}\n        humdict = {'payload':content[2]}\n        co2dict = {'payload':content[3]}\n        tvocdict = {'payload':content[4]}\n        return[maccadrdict,tempdict,humdict,co2dict,tvocdict]\n    if content[5] == 9:\n        maccadrdict = {'payload':'NotHere'}\n        tempdict = {'payload':'NotHere'}\n        humdict = {'payload':'NotHere'}\n        co2dict = {'payload':'NotHere'}\n        tvocdict = {'payload':'NotHere'}\n        return[maccadrdict,tempdict,humdict,co2dict,tvocdict]\nexcept:\n    pass\n","outputs":5,"x":1370,"y":860,"wires":[["e65499c8.7de8e8"],["feaf3147.8d525"],["148ab172.b6cecf"],["b9c385f4.09f1e8"],["5c90d3fe.04a714"]]},{"id":"a8727a3a.712cc8","type":"python3-function","z":"44f6af9.c40585","name":"Pos2Listener","func":"content = msg['payload']\ntry:\n    if content[5] == 2:\n        maccadrdict = {'payload':content[0]}\n        tempdict = {'payload':content[1]}\n        humdict = {'payload':content[2]}\n        co2dict = {'payload':content[3]}\n        tvocdict = {'payload':content[4]}\n        return[maccadrdict,tempdict,humdict,co2dict,tvocdict]\n    if content[5] == 9:\n        maccadrdict = {'payload':'NotHere'}\n        tempdict = {'payload':'NotHere'}\n        humdict = {'payload':'NotHere'}\n        co2dict = {'payload':'NotHere'}\n        tvocdict = {'payload':'NotHere'}\n        return[maccadrdict,tempdict,humdict,co2dict,tvocdict]\nexcept:\n    pass\n","outputs":5,"x":1710,"y":860,"wires":[["bd6580fa.3217a"],["6cc2559a.9fba4c"],["5fa8dd1c.bf1884"],["95d7dd4d.e4c0f"],["a074a0d4.77169"]]},{"id":"389142bc.948a2e","type":"python3-function","z":"44f6af9.c40585","name":"Pos3Listener","func":"content = msg['payload']\ntry:\n    if content[5] == 3:\n        maccadrdict = {'payload':content[0]}\n        tempdict = {'payload':content[1]}\n        humdict = {'payload':content[2]}\n        co2dict = {'payload':content[3]}\n        tvocdict = {'payload':content[4]}\n        return[maccadrdict,tempdict,humdict,co2dict,tvocdict]\n    if content[5] == 9:\n        maccadrdict = {'payload':'NotHere'}\n        tempdict = {'payload':'NotHere'}\n        humdict = {'payload':'NotHere'}\n        co2dict = {'payload':'NotHere'}\n        tvocdict = {'payload':'NotHere'}\n        return[maccadrdict,tempdict,humdict,co2dict,tvocdict]\nexcept:\n    pass\n","outputs":5,"x":2030,"y":860,"wires":[["6bcda2bd.71be0c"],["86dd8547.a0b7e8"],["d7ad6f8e.f0137"],["629bd468.73906c"],["34f03704.58bc98"]]},{"id":"886521.d5a34ae","type":"python3-function","z":"44f6af9.c40585","name":"Pos4Listener","func":"content = msg['payload']\ntry:\n    if content[5] == 4:\n        maccadrdict = {'payload':content[0]}\n        tempdict = {'payload':content[1]}\n        humdict = {'payload':content[2]}\n        co2dict = {'payload':content[3]}\n        tvocdict = {'payload':content[4]}\n        return[maccadrdict,tempdict,humdict,co2dict,tvocdict]\n    if content[5] == 9:\n        maccadrdict = {'payload':'NotHere'}\n        tempdict = {'payload':'NotHere'}\n        humdict = {'payload':'NotHere'}\n        co2dict = {'payload':'NotHere'}\n        tvocdict = {'payload':'NotHere'}\n        return[maccadrdict,tempdict,humdict,co2dict,tvocdict]\nexcept:\n    pass\n","outputs":5,"x":1370,"y":1160,"wires":[["bd1d99d7.2f8578"],["7915dde2.7759f4"],["9641f0a4.fd6b2"],["69d4770d.968708"],["37919390.d1463c"]]},{"id":"66594abd.1a8904","type":"python3-function","z":"44f6af9.c40585","name":"Pos5Listener","func":"content = msg['payload']\ntry:\n    if content[5] == 5:\n        maccadrdict = {'payload':content[0]}\n        tempdict = {'payload':content[1]}\n        humdict = {'payload':content[2]}\n        co2dict = {'payload':content[3]}\n        tvocdict = {'payload':content[4]}\n        return[maccadrdict,tempdict,humdict,co2dict,tvocdict]\n    if content[5] == 9:\n        maccadrdict = {'payload':'NotHere'}\n        tempdict = {'payload':'NotHere'}\n        humdict = {'payload':'NotHere'}\n        co2dict = {'payload':'NotHere'}\n        tvocdict = {'payload':'NotHere'}\n        return[maccadrdict,tempdict,humdict,co2dict,tvocdict]\nexcept:\n    pass\n","outputs":5,"x":1710,"y":1160,"wires":[["e801936c.a0b02"],["233a6dfa.30cb72"],["9b85cca1.e1297"],["6ffad9af.1a4e38"],["1bbf8de0.660652"]]},{"id":"68beaa1d.76af34","type":"python3-function","z":"44f6af9.c40585","name":"Pos6Listener","func":"content = msg['payload']\ntry:\n    if content[5] == 6:\n        maccadrdict = {'payload':content[0]}\n        tempdict = {'payload':content[1]}\n        humdict = {'payload':content[2]}\n        co2dict = {'payload':content[3]}\n        tvocdict = {'payload':content[4]}\n        return[maccadrdict,tempdict,humdict,co2dict,tvocdict]\n    if content[5] == 9:\n        maccadrdict = {'payload':'NotHere'}\n        tempdict = {'payload':'NotHere'}\n        humdict = {'payload':'NotHere'}\n        co2dict = {'payload':'NotHere'}\n        tvocdict = {'payload':'NotHere'}\n        return[maccadrdict,tempdict,humdict,co2dict,tvocdict]\nexcept:\n    pass\n","outputs":5,"x":2050,"y":1160,"wires":[["14bdccc2.dc8753"],["f1fad9fd.ff43e8"],["2b4aa99c.f051c6"],["10155596.3a7bea"],["ab1d6520.d9eb98"]]},{"id":"bde40fdd.1a6b4","type":"python3-function","z":"44f6af9.c40585","name":"DoWeKnowThisDevice","func":"#Lookup if device is known with name and position\n#Create CSV with known postions and names\nimport os\nimport csv\nimport time\nfrom textwrap import wrap #import for wrap\n\ntry:\n    os.makedirs('PositionSettings')\nexcept:\n    pass\n\ncsv_file = '/home/pi/PositionSettings/Positions.csv'\n\nmakefile = False\n\ntry:\n    makefile = os.stat(csv_file).st_size == 0\nexcept:\n    makefile = True \n\nif makefile == True:\n    csv_columns = ['POS', 'MACADDR', 'USERNAME']\n    dict_data = [\n    {'POS': 1, 'MACADDR': 'NOADDR', 'USERNAME': 'NONAME'},\n    {'POS': 2, 'MACADDR': 'NOADDR', 'USERNAME': 'NONAME'},\n    {'POS': 3, 'MACADDR': 'NOADDR', 'USERNAME': 'NONAME'},\n    {'POS': 4, 'MACADDR': 'NOADDR', 'USERNAME': 'NONAME'},\n    {'POS': 5, 'MACADDR': 'NOADDR', 'USERNAME': 'NONAME'},\n    {'POS': 6, 'MACADDR': 'NOADDR', 'USERNAME': 'NONAME'}\n    ]\n    with open(csv_file, 'w') as csvfile:\n        writer = csv.DictWriter(csvfile, fieldnames=csv_columns)\n        writer.writeheader()\n        for data in dict_data:\n            writer.writerow(data)\nelse:\n    pass\n\nrp = msg['payload']\nallinuppermac = rp[0]\ntemp = rp[1]\nhum = rp[2]\nco2 = rp[3]\ntvoc = rp[4]\n\ntry:\n    #see if we know this device\n    with open(csv_file, 'r') as sucker:\n        csv_sucker = csv.reader(sucker, delimiter = \",\")\n        schmutzliste = list(csv_sucker)\n    \n    whichpos = 0\n    \n    for row in schmutzliste:  #find out the position of device if not found give it smallest pos\n        if allinuppermac in row[1]: #found our macaddr get pos and dont create new\n            break #whichpos is current position\n        elif 'NOADDR' in row[1]: #didnt find macaddr create new entry\n            schmutzliste[whichpos] = [str(whichpos),allinuppermac,'NONAME']\n            with open(csv_file, 'wb') as myfile:\n                for item in schmutzliste:\n                    print >> myfile, item\n            break\n        else: #list must be full\n            whichpos += 1\n    \n    if whichpos < 1 or whichpos > 6:\n        print('To many fucking devices found')\n    \n    senddatawithpos = {'payload': [allinuppermac, temp, hum, co2, tvoc, whichpos]}\n    \n    return senddatawithpos\nexcept:\n    print('shithappened')\n    pass #maybe exit 1 but who cares\n    ","outputs":1,"x":1040,"y":1000,"wires":[["46667fde.3faa1","886521.d5a34ae","a8727a3a.712cc8","66594abd.1a8904","389142bc.948a2e","68beaa1d.76af34","fe11a1ae.e698b"]]},{"id":"e91169d5.70f5a8","type":"python3-function","z":"44f6af9.c40585","name":"pieceofshitsoftware","func":"from textwrap import wrap #import for wrap\n\na = msg['payload'] #get dict payload\nourdata = a['data'] #here is the shit stored\n\nmcaddr = ''\ntemp = ''\nhum = ''\nco2 = ''\ntvoc = ''\npos = 0\nfinpos = 0\nshitcounter = 0\ntry:\n    for el in ourdata:\n        if el == 179 and ourdata[pos+1] == 179: #parse the piece of shit string coming from shitESP\n            if shitcounter == 0:\n                mcaddr = ourdata[0:pos]\n                finpos = pos\n                pos+=1\n                shitcounter += 1\n            elif shitcounter == 1 or shitcounter == 2:\n                finpos = pos\n                pos+=1\n                shitcounter +=1\n            elif shitcounter == 3:\n                temp = ourdata[finpos+2:pos]\n                finpos = pos\n                pos+=1\n                shitcounter+=1\n            elif shitcounter == 4:\n                hum = ourdata[finpos+2:pos]\n                finpos = pos\n                pos+=1\n                shitcounter+=1\n            elif shitcounter == 5:\n                co2 = ourdata[finpos+2:pos]\n                finpos = pos\n                pos+=1\n                shitcounter+=1\n            elif shitcounter == 6:\n                tvoc = ourdata[finpos+2:pos]\n                shitcounter = 7\n                break\n        else:\n            pos+=1\n    \n    \n    res = ''.join(format(x, '02x') for x in mcaddr) #dec to hex conv\n    #('------------------')\n    rescool = wrap(res,2) #split every 2. hex\n    #('------------------')\n    rescoolseperated = ':'.join(rescool) #join and put : between strings\n    #('------------------')\n    allinuppermac = rescoolseperated.upper() #write everythin capitalbra\n    \n    temp = float(''.join(format(x, 'c') for x in temp)) #shit dec array to readible float without piece of shit whitespaces\n    hum = float(''.join(format(x, 'c') for x in hum))\n    co2 = float(''.join(format(x, 'c') for x in co2))\n    tvoc = float(''.join(format(x, 'c') for x in tvoc))\n    \n    \n    pieceofcake = {'payload': [allinuppermac, temp, hum, co2, tvoc]}\n    \n    return pieceofcake\nexcept:\n    pass\n","outputs":1,"x":750,"y":1000,"wires":[["bde40fdd.1a6b4"]]},{"id":"2470e8ff.33b028","type":"python3-function","z":"44f6af9.c40585","name":"SetToNotConn","func":"if 1 == 1: #shit happens when False\n    shit = {'payload': ['allinuppermac', 'temp', 'hum', 'co2', 'tvoc', 9]}\n    return shit\n","outputs":1,"x":1100,"y":1080,"wires":[["46667fde.3faa1","886521.d5a34ae","a8727a3a.712cc8","66594abd.1a8904","389142bc.948a2e","68beaa1d.76af34"]]},{"id":"fe11a1ae.e698b","type":"link out","z":"44f6af9.c40585","name":"ToTheRGB","links":["c26d2604.eea308"],"x":1065,"y":900,"wires":[]},{"id":"c26d2604.eea308","type":"link in","z":"87a18509.040e28","name":"intheshit","links":["fe11a1ae.e698b"],"x":615,"y":360,"wires":[["cb0cefee.aece2"]]},{"id":"cb0cefee.aece2","type":"python3-function","z":"87a18509.040e28","name":"DataToRGBorSo","func":"try:\n    TempMin = float(open(\"/home/pi/ThresholdSettings/TempMin\", \"r\").read())\n    TempMax = float(open(\"/home/pi/ThresholdSettings/TempMax\", \"r\").read())\n    HumMin = float(open(\"/home/pi/ThresholdSettings/HumMin\", \"r\").read())\n    HumMax = float(open(\"/home/pi/ThresholdSettings/HumMax\", \"r\").read())\n    CO2Min = int(open(\"/home/pi/ThresholdSettings/CO2Min\", \"r\").read())\n    CO2Max = int(open(\"/home/pi/ThresholdSettings/CO2Max\", \"r\").read())\n    TVOCMin = int(open(\"/home/pi/ThresholdSettings/TVOCMin\", \"r\").read())\n    TVOCMax = int(open(\"/home/pi/ThresholdSettings/TVOCMax\", \"r\").read())\n    \n    rp = msg['payload']\n    allinuppermac = rp[0]\n    temp = rp[1]\n    hum = rp[2]\n    co2 = rp[3]\n    tvoc = rp[4]\n    position = rp[5]\n    \n    #temp = red\n    #hum = blue\n    #co2 = green\n    #tvoc = violett\n    \n    tempgood = 1\n    humgood = 1\n    co2good = 1\n    tvocgood = 1\n    shit =1\n    \n    if temp > TempMax or temp < TempMin:\n        tempgood = 0\n    if hum > HumMax or hum < HumMin:\n        humgood = 0\n    if co2 > CO2Max or co2 < CO2Min:\n        co2good = 0\n    if tvoc > TVOCMax or tvoc < TVOCMin:\n        tvocgood = 0\n    \n    \n    #[0,0,0,1,1]\n    #[tempgood,humgood,co2good,tvocgood,position]\n    \n    spaghetti = {'payload':[tempgood,humgood,co2good,tvocgood,position]}\n    \n    return spaghetti\nexcept:\n    pass","outputs":1,"x":820,"y":360,"wires":[["2a648bbe.6251b4","837c8ec6.67dcd","71c5d7b6.c594a8","e0a97fa.5964f8","fe179d03.b3adb","89d526f4.06d348"]]},{"id":"4f1116cf.5f4378","type":"clock-generator","z":"44f6af9.c40585","name":"dasd","topic":"","period":"60","output":"1","init":false,"x":950,"y":1080,"wires":[["2470e8ff.33b028"],[]]},{"id":"e42a320a.de494","type":"inject","z":"44f6af9.c40585","name":"shiteater2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"start","payloadType":"str","x":810,"y":1080,"wires":[["4f1116cf.5f4378"]]},{"id":"f094ca6e.fcb5d8","type":"rpi-blinkt out","z":"87a18509.040e28","name":"ScheissPimmoroniLEDstrip","x":2080,"y":360,"wires":[]},{"id":"2a648bbe.6251b4","type":"python3-function","z":"87a18509.040e28","name":"BlinkinGiveColor1","func":"ts = msg['payload']\n\nmsg1 = {'payload':'0,0,0','topic':'pixel.0'}\nmsg2 = {'payload':'0,0,0','topic':'pixel.0'}\n\ntry:\n    if ts[4] == 1:\n        if ts[0] == 0:\n            msg1 = {'payload':'255,0,0','topic':'pixel.0'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.0'}\n        if ts[1] == 0:\n            msg1 = {'payload':'0,0,255','topic':'pixel.0'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.0'}\n        if ts[2] == 0:\n            msg1 = {'payload':'0,255,0','topic':'pixel.0'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.0'}\n        if ts[3] == 0:\n            msg1 = {'payload':'3, 94, 252','topic':'pixel.0'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.0'}\n        return [msg1,msg2]\n    else:\n        pass\nexcept:\n    pass","outputs":2,"x":1170,"y":200,"wires":[["67eeb399.e2a19c"],["cd2655f7.1927c8"]]},{"id":"6c9086fc.5f8aa8","type":"looptimer-advanced","z":"87a18509.040e28","duration":"4","units":"Second","maxloops":"2147483646","maxtimeout":"","maxtimeoutunits":"Day","name":"suck the bass","x":1620,"y":80,"wires":[["f094ca6e.fcb5d8"],[]]},{"id":"837c8ec6.67dcd","type":"python3-function","z":"87a18509.040e28","name":"BlinkinGiveColor2","func":"ts = msg['payload']\n\nmsg1 = {'payload':'0,0,0','topic':'pixel.1'}\nmsg2 = {'payload':'0,0,0','topic':'pixel.1'}\n\ntry:\n    if ts[4] == 2:\n        if ts[0] == 0:\n            msg1 = {'payload':'255,0,0','topic':'pixel.1'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.1'}\n        if ts[1] == 0:\n            msg1 = {'payload':'0,0,255','topic':'pixel.1'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.1'}\n        if ts[2] == 0:\n            msg1 = {'payload':'0,255,0','topic':'pixel.1'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.1'}\n        if ts[3] == 0:\n            msg1 = {'payload':'3, 94, 252','topic':'pixel.1'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.1'}\n        return [msg1,msg2]\n    else:\n        pass\nexcept:\n    pass","outputs":2,"x":1170,"y":260,"wires":[["5fa64077.fee2d"],["6594dfa2.89a68"]]},{"id":"71c5d7b6.c594a8","type":"python3-function","z":"87a18509.040e28","name":"BlinkinGiveColor3","func":"ts = msg['payload']\n\nmsg1 = {'payload':'0,0,0','topic':'pixel.2'}\nmsg2 = {'payload':'0,0,0','topic':'pixel.2'}\n\ntry:\n    if ts[4] == 3:\n        if ts[0] == 0:\n            msg1 = {'payload':'255,0,0','topic':'pixel.2'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.2'}\n        if ts[1] == 0:\n            msg1 = {'payload':'0,0,255','topic':'pixel.2'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.2'}\n        if ts[2] == 0:\n            msg1 = {'payload':'0,255,0','topic':'pixel.2'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.2'}\n        if ts[3] == 0:\n            msg1 = {'payload':'3, 94, 252','topic':'pixel.2'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.2'}\n        return [msg1,msg2]\n    else:\n        pass\nexcept:\n    pass","outputs":2,"x":1170,"y":320,"wires":[["e6e335b9.bc8b98"],["3f0fc179.b1c5fe"]]},{"id":"e0a97fa.5964f8","type":"python3-function","z":"87a18509.040e28","name":"BlinkinGiveColor4","func":"ts = msg['payload']\n\nmsg1 = {'payload':'0,0,0','topic':'pixel.3'}\nmsg2 = {'payload':'0,0,0','topic':'pixel.3'}\n\ntry:\n    if ts[4] == 4:\n        if ts[0] == 0:\n            msg1 = {'payload':'255,0,0','topic':'pixel.3'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.3'}\n        if ts[1] == 0:\n            msg1 = {'payload':'0,0,255','topic':'pixel.3'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.3'}\n        if ts[2] == 0:\n            msg1 = {'payload':'0,255,0','topic':'pixel.3'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.3'}\n        if ts[3] == 0:\n            msg1 = {'payload':'3, 94, 252','topic':'pixel.3'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.3'}\n        return [msg1,msg2]\n    else:\n        pass\nexcept:\n    pass","outputs":2,"x":1170,"y":380,"wires":[["f74f3ae.21622c8"],["b5fbcf0b.4bcff"]]},{"id":"fe179d03.b3adb","type":"python3-function","z":"87a18509.040e28","name":"BlinkinGiveColor5","func":"ts = msg['payload']\n\nmsg1 = {'payload':'0,0,0','topic':'pixel.4'}\nmsg2 = {'payload':'0,0,0','topic':'pixel.4'}\n\ntry:\n    if ts[4] == 5:\n        if ts[0] == 0:\n            msg1 = {'payload':'255,0,0','topic':'pixel.4'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.4'}\n        if ts[1] == 0:\n            msg1 = {'payload':'0,0,255','topic':'pixel.4'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.4'}\n        if ts[2] == 0:\n            msg1 = {'payload':'0,255,0','topic':'pixel.4'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.4'}\n        if ts[3] == 0:\n            msg1 = {'payload':'3, 94, 252','topic':'pixel.4'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.4'}\n        return [msg1,msg2]\n    else:\n        pass\nexcept:\n    pass","outputs":2,"x":1170,"y":440,"wires":[["9136568.2ef5ea8"],["2dd7f7d.6839408"]]},{"id":"89d526f4.06d348","type":"python3-function","z":"87a18509.040e28","name":"BlinkinGiveColor6","func":"ts = msg['payload']\n\nmsg1 = {'payload':'0,0,0','topic':'pixel.5'}\nmsg2 = {'payload':'0,0,0','topic':'pixel.5'}\n\ntry:\n    if ts[4] == 6:\n        if ts[0] == 0:\n            msg1 = {'payload':'255,0,0','topic':'pixel.5'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.5'}\n        if ts[1] == 0:\n            msg1 = {'payload':'0,0,255','topic':'pixel.5'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.5'}\n        if ts[2] == 0:\n            msg1 = {'payload':'0,255,0','topic':'pixel.5'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.5'}\n        if ts[3] == 0:\n            msg1 = {'payload':'3, 94, 252','topic':'pixel.5'}\n            msg2 = {'payload':'0,0,0','topic':'pixel.5'}\n        return [msg1,msg2]\n    else:\n        pass\nexcept:\n    pass","outputs":2,"x":1170,"y":500,"wires":[["79df00e4.a85f3"],["aa6037a3.1a8b08"]]},{"id":"2ba51eb9.a397f2","type":"delay","z":"87a18509.040e28","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1600,"y":120,"wires":[["b713cd88.718ad"]]},{"id":"b713cd88.718ad","type":"looptimer-advanced","z":"87a18509.040e28","duration":"4","units":"Second","maxloops":"2147483646","maxtimeout":"","maxtimeoutunits":"Day","name":"suck the bass","x":1760,"y":120,"wires":[["f094ca6e.fcb5d8"],[]]},{"id":"5b9a74a.bda848c","type":"looptimer-advanced","z":"87a18509.040e28","duration":"4","units":"Second","maxloops":"2147483646","maxtimeout":"","maxtimeoutunits":"Day","name":"suck the bass","x":1620,"y":180,"wires":[["f094ca6e.fcb5d8"],[]]},{"id":"34e0722d.0119fe","type":"delay","z":"87a18509.040e28","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1600,"y":220,"wires":[["94d9ff4b.6b8b1"]]},{"id":"94d9ff4b.6b8b1","type":"looptimer-advanced","z":"87a18509.040e28","duration":"4","units":"Second","maxloops":"2147483646","maxtimeout":"","maxtimeoutunits":"Day","name":"suck the bass","x":1760,"y":220,"wires":[["f094ca6e.fcb5d8"],[]]},{"id":"fe797abc.82d648","type":"looptimer-advanced","z":"87a18509.040e28","duration":"4","units":"Second","maxloops":"2147483646","maxtimeout":"","maxtimeoutunits":"Day","name":"suck the bass","x":1620,"y":280,"wires":[["f094ca6e.fcb5d8"],[]]},{"id":"330e2cb4.2a2a24","type":"delay","z":"87a18509.040e28","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1600,"y":320,"wires":[["ae4e20c6.c3d2d"]]},{"id":"ae4e20c6.c3d2d","type":"looptimer-advanced","z":"87a18509.040e28","duration":"4","units":"Second","maxloops":"2147483646","maxtimeout":"","maxtimeoutunits":"Day","name":"suck the bass","x":1760,"y":320,"wires":[["f094ca6e.fcb5d8"],[]]},{"id":"1723b515.b0cc1b","type":"looptimer-advanced","z":"87a18509.040e28","duration":"4","units":"Second","maxloops":"2147483646","maxtimeout":"","maxtimeoutunits":"Day","name":"suck the bass","x":1620,"y":380,"wires":[["f094ca6e.fcb5d8"],[]]},{"id":"a188c032.2889e","type":"delay","z":"87a18509.040e28","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1600,"y":420,"wires":[["dbd31edb.148de"]]},{"id":"dbd31edb.148de","type":"looptimer-advanced","z":"87a18509.040e28","duration":"4","units":"Second","maxloops":"2147483646","maxtimeout":"","maxtimeoutunits":"Day","name":"suck the bass","x":1760,"y":420,"wires":[["f094ca6e.fcb5d8"],[]]},{"id":"812f45f7.681cb8","type":"looptimer-advanced","z":"87a18509.040e28","duration":"4","units":"Second","maxloops":"2147483646","maxtimeout":"","maxtimeoutunits":"Day","name":"suck the bass","x":1620,"y":480,"wires":[["f094ca6e.fcb5d8"],[]]},{"id":"33f1d4d2.e7536c","type":"delay","z":"87a18509.040e28","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1600,"y":520,"wires":[["6253e7a1.b80bd8"]]},{"id":"6253e7a1.b80bd8","type":"looptimer-advanced","z":"87a18509.040e28","duration":"4","units":"Second","maxloops":"2147483646","maxtimeout":"","maxtimeoutunits":"Day","name":"suck the bass","x":1760,"y":520,"wires":[["f094ca6e.fcb5d8"],[]]},{"id":"6f904af.af451b4","type":"looptimer-advanced","z":"87a18509.040e28","duration":"4","units":"Second","maxloops":"2147483646","maxtimeout":"","maxtimeoutunits":"Day","name":"suck the bass","x":1620,"y":580,"wires":[["f094ca6e.fcb5d8"],[]]},{"id":"958257e2.bb8b18","type":"delay","z":"87a18509.040e28","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1600,"y":620,"wires":[["d0803c88.25cc6"]]},{"id":"d0803c88.25cc6","type":"looptimer-advanced","z":"87a18509.040e28","duration":"4","units":"Second","maxloops":"2147483646","maxtimeout":"","maxtimeoutunits":"Day","name":"suck the bass","x":1760,"y":620,"wires":[["f094ca6e.fcb5d8"],[]]},{"id":"67eeb399.e2a19c","type":"rbe","z":"87a18509.040e28","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":120,"wires":[["6c9086fc.5f8aa8"]]},{"id":"cd2655f7.1927c8","type":"rbe","z":"87a18509.040e28","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":160,"wires":[["2ba51eb9.a397f2"]]},{"id":"5fa64077.fee2d","type":"rbe","z":"87a18509.040e28","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":200,"wires":[["5b9a74a.bda848c"]]},{"id":"6594dfa2.89a68","type":"rbe","z":"87a18509.040e28","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":240,"wires":[["34e0722d.0119fe"]]},{"id":"e6e335b9.bc8b98","type":"rbe","z":"87a18509.040e28","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":280,"wires":[["fe797abc.82d648"]]},{"id":"3f0fc179.b1c5fe","type":"rbe","z":"87a18509.040e28","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":320,"wires":[["330e2cb4.2a2a24"]]},{"id":"f74f3ae.21622c8","type":"rbe","z":"87a18509.040e28","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":360,"wires":[["1723b515.b0cc1b"]]},{"id":"b5fbcf0b.4bcff","type":"rbe","z":"87a18509.040e28","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":400,"wires":[["a188c032.2889e"]]},{"id":"9136568.2ef5ea8","type":"rbe","z":"87a18509.040e28","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":440,"wires":[["812f45f7.681cb8"]]},{"id":"2dd7f7d.6839408","type":"rbe","z":"87a18509.040e28","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":480,"wires":[["33f1d4d2.e7536c"]]},{"id":"79df00e4.a85f3","type":"rbe","z":"87a18509.040e28","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":520,"wires":[["6f904af.af451b4"]]},{"id":"aa6037a3.1a8b08","type":"rbe","z":"87a18509.040e28","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":560,"wires":[["958257e2.bb8b18"]]},{"id":"de700700.ccd988","type":"debug","z":"f8782806.3fcd98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":760,"wires":[]}]
